MONGODB_URI=mongodb+srv://USUARIO:SENHA@CLUSTER.mongodb.net/?retryWrites=true&w=majority&tls=true
MONGODB_DATABASE=loginseguro
ADMIN_EMAIL=admin@loginseguro.com
ADMIN_SENHA=Senhadoadmin123*
APP_TEMA=padrao
